<section class="exercise-form">
    <div class="container exercise-container">
        <div class="card exercise-card">
            <h2>Exercise</h2>

            <!-- INFO -->
            <div id="exerciseInfo" class="exercise-info"></div>

            <!-- QUESTIONS -->
            <div id="questionsContainer" class="questions-container"></div>

            <!-- ACTION -->
            <div class="exercise-actions">
                <button id="btnSubmit" class="btn submit-btn">Submit</button>
            </div>
        </div>
    </div>
</section>