<section class="exercise-detail">
    <div class="container exercise-detail-container">
        <!-- CARD UTAMA -->
        <div class="card exercise-main-card" id="exerciseMainCard">
            <h2>Exercise Detail</h2>
            <div class="exercise-info" id="exerciseInfo">
                <!-- data umum diisi dari JS -->
            </div>
        </div>

        <!-- TEMPAT UNTUK SEMUA QUESTION -->
        <div id="questionsContainer" class="questions-container">
            <!-- diisi dari JS -->
        </div>
    </div>
</section>